@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* Nav Bar */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

header.sticky a:hover {
    background: #fff;
}

header .logo {
    color: #ffffffc7;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

header.sticky .logo {
    color: #111111;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;

}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #ffffffc7;
    text-decoration: none;
}

header ul li a:hover{
    background-color: #222222;
    border-radius: 12px;
}

header.sticky ul li a {
    color: #111111;
}

/* Principal */
section#principal {
    padding: 100px;
}

#principal.banner {
    position: relative;
    min-height: 100vh;
    background: url('../img/banner-02.jpg');
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#principal.banner h2 {
    font-size: 3em;
    color: #ffffffc7;
    font-weight: 500;
    line-height: 1.5em;
}

#principal.banner h2 span{
    font-size: 1.5em;
    font-weight: 700;
}

#principal.banner h3 {
    font-size: 3em;
    color: #ffffffc7;
    font-weight: 500;
}

#principal .btn {
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

/* about*/
#about {
    padding: 100px;
    background-color: #f0f0f0;
}

#about .heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #000000;
}
#about .heading h2 {
    font-weight: 600;
    font-size: 30px;
}
#about .content {
    display: flex;
    justify-content: space-between;
}

#about .contentBx {
    padding-right: 30px;
}

#about .contentBx p {
    color: rgb(0, 0, 0);
    text-align: justify;
}

#about .contentBx h3 {
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin-bottom: 10px;
}

#about .w50 {
    min-width: 50%;
}

#about img {
    max-width: 100%;
}

/* Projects */
section#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(211, 212, 214, 0.562);
    min-height: 100vh;
}

#projects .container {
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#projects .container .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #0000008e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.233);
    overflow: hidden;
    transition: 0.6s;
}

#projects .container:hover .card {
    opacity: 0.2;
}

#projects .container .card:hover {
    opacity: 1;
}

#projects .container .card::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(250, 250, 250, 0.253);
    pointer-events: none;
}

#projects .container .card .content {
    padding: 30px;
    text-align: center;
}

#projects .container .card .content h2 {
    position: absolute;
    right: 30px;
    font-size: 4em;
    font-weight: 800;
    color: #0077ff;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}

#projects .container .card:hover .content h2 {
    opacity: 1;
    transform: translateY(-70px);
}

#projects .container .card .content h3 {
    position: relative;
    font-size: 2em;
    color: #fff;
    z-index: 2;
    opacity: 0.5;
    letter-spacing: 1px;
    transition: 0.5s;
}

#projects .container .card .content p {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    z-index: 2;
    opacity: 0.5;
    font-weight: 300;
    transition: 0.5s;
}

#projects .container .card:hover .content h3,
#projects .container .card:hover .content p {
    opacity: 1;
}

#projects .container .card .content a {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background: #fff;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.4s;
}

#projects .container .card .content a:hover {
    transform: translateY(5px);
    color: #fff;
    background:#0077ff;
}

#projects .container .card span {
    transition: 0.5s;
    opacity: 0;
}

#projects .container .card:hover span {
    opacity: 1;
}

#projects .container .card span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.8px;
    background: linear-gradient(to right, transparent, #1779ff);
    animation: animate1 2s linear infinite;
}
@keyframes animate1 {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

#projects .container .card span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 3.8px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #1779ff);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate2 {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

#projects .container .card span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.8px;
    background: linear-gradient(to left, transparent, #1779ff);
    animation: animate3 2s linear infinite;
    animation-delay: 2s;
}
@keyframes animate3 {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

#projects .container .card span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 3.8px;
    height: 100%;
    background: linear-gradient(to top, transparent, #1779ff);
    animation: animate4 2s linear infinite;
    animation-delay: 3s;
}
@keyframes animate4 {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}

/* Contacts */
#contacts {
    padding: 15px 100px;
}

#contacts .formBx {
    min-width: 60%;
}

#contacts .formBx form {
    display: flex;
    flex-direction: column;
}

#contacts .formBx form h3,
#contacts .contactInfo h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

#contacts .formBx form input,
#contacts .formBx form textarea {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}

#contacts .formBx form textarea {
    min-height: 200px;
}

#contacts .formBx form input::placeholder,
#contacts .formBx form textarea::placeholder {
    color: #999999;
}

#contacts .formBx form input[type="submit"] {
    max-width: 100px;
    background: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#contacts .contactInfo {
    min-width: 40%;
}

#contacts .contactInfoBox {
    position: relative;
}

#contacts .contactInfoBox .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

#contacts .contactInfoBox .box .icon {
    min-width: 40px;
    padding-top: 4px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}

#contacts .contactInfoBox .box .text {
    display: flex;
    margin-left: 10px;
    font-size: 16px;
    color: #000000;
    flex-direction: column;
    font-weight: 300;
}

#contacts .contactInfoBox .box .text h3 {
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
}


#links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#links ul {
    position: relative;
    display: flex;
}

#links ul li {
    list-style: none;
    position: relative;
    margin: 0 20px;
    cursor: pointer;
}

#links ul li a{
    text-decoration: none;
    transition: 1.2s;
}

#links ul li a .fa-instagram {
    font-size: 2.7em;
    color: rgb(253, 29, 29);
}

#links ul li a .fa-linkedin {
    font-size: 2.7em;
    color:#405DE6;
}

#links ul li a .fa-github {
    font-size: 2.7em;
    color: #222222;
}

#links ul li a:hover .fa-linkedin,
#links ul li a:hover .fa-github, 
#links ul li a:hover .fa-instagram {
    transform: translateY(-5px);
}

/* Footer */
#footer {
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 10px ;
}

/* Responsive */
@media (min-width: 2000px) {

    #about .heading h2 {
        font-weight: 600;
        font-size: 45px;
    }

    #about .contentBx h3 {
        color: rgb(0, 0, 0);
        font-size: 36px;
        margin-bottom: 10px;
    }

    #about .contentBx p {
        color: rgb(0, 0, 0);
        text-align: justify;
        font-size: 30px;
    }

    #about img {
        max-width: 90%;
    }

    #contacts .heading {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        color: #111111;
    }

    #contacts .content {
        display: flex;
        justify-content: space-between;
    }

    #contacts .box{
        padding: 3px;
    }

    #links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-top: 110px;
    }
    #links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22%;
        margin-top: 110px;
    }
}
@media (min-width: 1024px) and (max-width: 1998px) {

    #principal.banner h2 span {
        font-size: 1.3em;
        font-weight: 700;
    }
    
    #contacts .heading {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        color: #111111;
    }

    #contacts .content {
        display: flex;
        justify-content: space-between;
    }

    #contacts .box{
        padding: 3px;
    }

    #links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-top: 110px;
    }
  
}

@media (max-width: 991.98px) {
    header,
    header.sticky {
        padding: 20px 50px;
    }

    /* menu*/
    .menu {
        position: fixed;
        top: 75px;
        right: -1000px;
        display: block;
        padding: 50px 50px;
        text-align: center;
        width: 50%;
        height: 50vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.233);
    }

    .menu.active {
        right: 0px;
    }

    header ul li a{
        color: #000000;
        font-size: 24px;
        margin: 10px;
    }

    .toggle {
        width: 40px;
        height: 40px;
        background: url('../img/menu-01.png');
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
        transition: 0.3s;
    }

    .toggle.active {
        background: url('../img/close-01.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    
    header.sticky .toggle {
        filter: invert(1);
    }

    /* Principal*/
    section#principal {
        padding: 100px 50px;
    }

    #principal .banner {
        padding: 150px 50px 100px;
    }

    #principal.banner h2 {
        color: #ffffff;
        font-size: 1.2em;
    }

    #principal.banner h2 span {
        font-size: 1.8em;
    }

    #principal.banner h3 {
        color: #ffffff;
        font-size: 1.2em;
    }

    #principal .btn {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }
    /* about*/
    #about .heading h2 {
        font-size: 24px;
    }

    #about .contentBx h3 {
        font-size: 20px;

    }

    #about .contentBx p {
        font-size: 15px;
        margin-bottom: 20px;
    }

    #about .content {
        flex-direction: column;
    }
    /*Projects */
    #projects .container .card {
        width: 250px;
        height: 350px;
    }

    #projects .container .card .content p {
        font-size: 0.92em;
    }
    #projects .container .card .content h3 {
        font-size: 1.4em;
    }

    #projects .container .card:hover .content h2 {
        opacity: 1;
        transform: translateY(-70px);
    }

    /* Contacts */
    #contacts .contactInfo {
        margin: 20px 0;
    }

    /* Links */
    #links {
        width: 15%;
        padding-left: 100px;
        font-size: 14px;
    }

    #links ul li a .fa-instagram, 
    #links ul li a .fa-linkedin,
    #links ul li a .fa-github {
        font-size: 2.5em;
    }
}

@media (max-width: 600px) {
    header,
    header.sticky {
        padding: 20px 50px;
    }

    header .logo {
        font-size: 18px;
    }
    #principal .banner {
        padding: 150px 20px 100px;
    }

    #principal.banner h2 span {
        font-size: 1em;
        font-weight: 700;
    }

    #about {
        padding: 100px 20px;
    }

    #about .contentBx p {
        font-size: 12px;
        margin-bottom: 20px;
    }

    #projects .container .card .content {
        padding: 23px;
    }

    #contacts {
        padding: 15px 20px;
    }

    #contacts.contactInfoBox h3 {
        font-size: 20px;
    }

    #contacts .contactInfoBox .box .text {
        font-size: 10px;
    }

    #links {
        margin-right: 5px;
    }

    #links ul li a .fa-instagram, 
    #links ul li a .fa-linkedin,
    #links ul li a .fa-github {
        font-size: 2.5em;
    }

    #footer p {
        font-size: 10px;
    }
}